@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PostViewModel


<div>
    <button type="button" class="btn btn-secondary" onclick="likeButton('@Model.Id')">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"></path>
        </svg>
    </button>

    <span id="post-likes-@Model.Id">@Model.LikesNumber</span>

    <button type="button" class="btn btn-secondary" onclick="dislikeButton('@Model.Id')">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"></path>
        </svg>
    </button>
</div>


<script>

    function likeButton(objectId) { 
        console.log("like ID:" + objectId);


        // Get the span element by its ID
        const likesSpan = document.getElementById(`post-likes-${objectId}`);

        // Parse the current number of likes and increment it
        let currentLikes = parseInt(likesSpan.textContent, 10);
        currentLikes++;

        // Update the span with the new number of likes
        likesSpan.textContent = currentLikes;
    }

    function dislikeButton(objectId) {
        console.log("dislike ID:" + objectId);

        // Get the span element by its ID
        const likesSpan = document.getElementById(`post-likes-${objectId}`);

        // Parse the current number of likes and increment it
        let currentLikes = parseInt(likesSpan.textContent, 10);
        currentLikes--;

        // Update the span with the new number of likes
        likesSpan.textContent = currentLikes;
    }

</script>