@{
    ViewData["Title"] = "Home Page";
}
@model HomePageViewModel





<div class="row">
    <div class="col-2 text-start">
        <button class="btn btn-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#leftBar" aria-expanded="false" aria-controls="leftBar">
            Toggle Sidebar
        </button>
        <div class="collapse" id="leftBar">
            @await Html.PartialAsync("LeftBar/_SubForumList")
        </div>
    </div>

    <div class="col-8 text-center">
        @await Html.PartialAsync("Post/_Index", Model.Posts)
    </div>

    <div class="col-2 text-end">
        @await Html.PartialAsync("RightBar/_RightBarInfo")
    </div>
</div>











<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
