@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    
    <div>
        <p>User </p>
    </div>
}

else
{
    <div>
        <p>Sorry LogIn</p>
    </div>
}
